@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap'); /* import fonts from Google Fonts*/

body {
  background-image: url(./hero.jpg);
  font-family: 'Roboto', sans-serif;
}

.content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vh;
  height: 30vh; /* Set the height to the full viewport height */
  margin: auto; /*Center horizontally*/
  margin-top: 40vh; /*center vertically*/
  border-radius: 1vh;
  box-shadow: 0 0 1vh /* Horizontal offset, Vertical offset, Blur radius */
    rgba(0, 0, 0, 0.2); /* Color and opacity */
  text-transform: capitalize;
  letter-spacing: 0.3vh;
}

.modal-btn {
  text-transform: uppercase;
  border: none;
  background-color: azure;
  border-radius: 0.7vh;
  letter-spacing: 1vh;
  padding: 1vh;
}

.modal-btn:hover {
  cursor: crosshair;
  background-color: rgb(182, 218, 218);
}

.modal-overlay {
  position: fixed; /*positions the element relative to the viewport, meaning it will stay in the same position even if the page is scrolled*/
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*This transform, combined with the top and left percentages, effectively centers the element both horizontally and vertically on the page.*/
  width: 100%;
  height: 100%;
  background-color: rgba(73, 166, 233, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: -10;
}
.content2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vh;
  height: 40vh;
  border-radius: 1vh;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  letter-spacing: 0.3vh;
  position: relative; /*make cclose-btn relative to the container */
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

.close-btn {
  position: absolute; /*close button will be positioned relative to the container rather than the entire page.*/
  top: 2rem;
  right: 2rem;
  border: none;
  background-color: transparent;
  font-size: x-large;
  font-weight: 900;
  color: rgb(183, 24, 24);
  transition: transform 0.3s ease; /* makes transition smoother*/
}

.close-btn:hover {
  cursor: crosshair;
  transform: scale(1.5);
}
